:root {
    --primary-color: forestgreen;
    --secondary-color: rgb(139, 188, 167);
    --background-color: black;
    --text-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: .1rem solid var(--text-color);
    color: var(--text-color);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
}

.h-flex-box {
    display: flex;
    width: 100%;
    min-height: 100vh;
    
}

.v-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex: 1;
}


